@use "../abstracts/mixins";

@media screen and (min-width: 700px) {
	.mobile-menu {
		//make sure that the mobile menu doesn't show up on desktop
		pointer-events: none;
		opacity: 0;
	}

	.website-container > header {
		min-height: 100vh;
		background: rgb(0 0 0 / 58%) url("../../images/desktop/image-hero.jpg")
			center;
		background-blend-mode: color;
		background-size: cover;

		.header-container {
			.first-row {
				.hamburger {
					display: none;
				}
				.desktop-links {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					width: 60%;
					max-width: 450px;

					a {
						display: block;
						padding: 5px 8px;
						font: 300 var(--size-500) var(--font-family-josefin-300);
						color: var(--white);
						transition: 0.5s;
						position: relative;

						&:last-of-type {
							padding: 5px 0; // fix vertical alignment
						}

						@include mixins.link-hover;
					}
				}
			}

			.header-description {
				width: 70%;
				max-width: 550px;
			}
		}
	}

	main {
		.first-section .first-section-container {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			.interactive-image {
				position: relative;
				z-index: 1;
			}

			.description {
				padding-left: 4rem;
				padding-top: 4rem;
				position: relative;
				background-color: var(--white);
				z-index: 2;
				transform: translateX(-5rem);

				> h1 {
					text-align: left;
					font-size: var(--size-700);
					margin-bottom: 2rem;
					width: auto;
					max-width: auto;
				}

				> p {
					text-align: left;
					width: auto;
					max-width: auto;
					margin: auto;
					font-size: var(--size-400);
				}
			}
		}

		.second-section .second-section-container {
			row-gap: 4rem;
			.first-row {
				justify-content: space-between;
				> a {
					@include mixins.second-section-button;
				}
			}

			.images-container {
				.image {
					// (total mixin center width - 3*colum-gap) / (4*image-container)
					max-width: calc((1000px - 3 * 1rem) / 4);
					height: 400px;
					transition: 0.5s;

					@for $i from 1 through 8 {
						&:nth-of-type(#{$i}) {
							background-image: url("../../images/desktop/#{$i}.jpg");
						}
					}

					&:hover {
						cursor: pointer;
						background-color: rgba(250, 250, 250, 0.5);
						transform: translateY(-1rem + 0.5rem);

						h2 {
							color: var(--black);
							font-size: var(--size-500);
							font-weight: bolder;
						}
					}

					h2 {
						transition: 0.5s;
						width: 140px;
						bottom: 3rem;
						color: var(--white);
						font: 300 var(--size-600) / 1.1 var(--font-family-josefin-300);
					}
				}
			}

			> a {
				display: none;
			}
		}
	}

	footer .footer-container {
		grid-template-columns: auto 20rem;
		grid-template-rows: auto auto;
		justify-items: flex-start;

		> img {
			grid-area: 1/1/2/2;
		}

		.footer-information {
			grid-area: 1/2/3/3;
			
		}
		.footer-links {
			flex-direction: row;
			width: 20rem;
			> a {
				margin: 0;
			}
		}
	}
}
